<!-- templates/navbar.html -->
<nav class="navbar navbar-expand px-3 border-bottom">
    <div class="sidebar-logo">
        <a href="#">COMP214</a>
    </div>
    <button class="toggler-btn" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-auto">
        <button id="theme-toggle" class="btn btn-outline-secondary">
            <i class="bi bi-moon-stars-fill"></i>
            <i class="bi bi-sun-fill d-none"></i>
        </button>
    </div>
</nav>