<!-- templates/sidebar.html -->
<aside id="sidebar" class="sidebar-toggle">
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header">
            Core Features
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
                <i class="bi bi-house-door"></i>
                <span>Dashboard</span>
            </a>
            <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a href="{{ url_for('dashboard_chart') }}" class="sidebar-link">
                        <i class="bi bi-graph-up-arrow"></i>
                        <span>Chart</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('tables') }}" class="sidebar-link">
                        <i class="bi bi-file-earmark-spreadsheet"></i>
                        <span>Tables</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#employees" aria-expanded="false" aria-controls="employees">
                <i class="bi bi-people"></i>
                <span>Employees</span>
            </a>
            <ul id="employees" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a href="{{ url_for('hire_employee') }}" class="sidebar-link">
                        <i class="bi bi-person-plus"></i>
                        <span>Hire Employees</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('manage_employee') }}" class="sidebar-link">
                        <i class="bi bi-person-gear"></i>
                        <span>Manage Employees</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#jobs" aria-expanded="false" aria-controls="jobs">
                <i class="bi bi-building"></i>
                <span>Jobs</span>
            </a>
            <ul id="jobs" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a href="{{ url_for('new_job') }}" class="sidebar-link">
                        <i class="bi bi-plus-circle"></i>
                        <span>New Jobs</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{{ url_for('manage_job') }}" class="sidebar-link">
                        <i class="bi bi-list-task"></i>
                        <span>Manage Jobs</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-header">
            Management
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#settings" aria-expanded="false" aria-controls="settings">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>
            <ul id="settings" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-person-gear"></i>
                        <span>Manage Users</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-person-plus"></i>
                        <span>Add Users</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="bi bi-chat-square-text"></i>
                <span>Notification</span>
            </a>
        </li>
    </ul>
    <!-- Sidebar Navigation Ends -->
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="bi bi-box-arrow-left"></i>
            <span>LogOut</span>
        </a>
    </div>
</aside>